<form nz-form [formGroup]="addEditForm">
  <nz-form-item>
    <nz-form-label nzFor="roleName" nzRequired [nzSm]="4" [nzXs]="24">Tên vai trò</nz-form-label>
    <nz-form-control nzErrorTip="Nhập tên vai trò" [nzSm]="18" [nzXs]="24">
      <input id="roleName" name="roleName" formControlName="roleName" nz-input placeholder="Nhập tên vai trò" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="roleDesc" [nzSm]="4" [nzXs]="24">Mô tả</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input id="roleDesc" name="roleDesc" formControlName="roleDesc" nz-input placeholder="Nhập mô tả" />
    </nz-form-control>
  </nz-form-item>
</form>
