<!--Phần đầu-->
<app-page-header [pageHeaderInfo]="pageHeaderInfo" />
<ng-template #headerExtra>
  <nz-radio-group>
    <label nz-radio-button>Thao tác 1</label>
    <label nz-radio-button>Thao tác 2</label>
    <label nz-dropdown nz-radio-button [nzDropdownMenu]="menu" nzPlacement="bottomRight">
      <i nz-icon nzTheme="outline" nzType="ellipsis"></i>
    </label>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item>Lựa chọn 1</li>
        <li nz-menu-item>Lựa chọn 2</li>
        <li nz-menu-item>Lựa chọn 3</li>
      </ul>
    </nz-dropdown-menu>
  </nz-radio-group>
  <button nz-button nzType="primary">Thao tác chính</button>
</ng-template>
<ng-template #headerContent>
  <div nz-row>
    <div nz-col [nzLg]="18" [nzMd]="16" [nzSm]="24" [nzXl]="18" [nzXs]="24" [nzXXl]="20">
      <nz-descriptions nzSize="small" [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 1, xs: 1 }">
        <nz-descriptions-item nzTitle="Người tạo">Khúc Lệ Lệ</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Sản phẩm đặt mua">XX Dịch vụ</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Thời gian tạo">2017-07-07</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Chứng từ liên quan"><a class="operate-text">12421</a></nz-descriptions-item>
        <nz-descriptions-item nzTitle="Ngày hiệu lực">2017-07-07 ~ 2017-08-08</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Ghi chú">Vui lòng xác nhận trong vòng 2 ngày làm việc</nz-descriptions-item>
      </nz-descriptions>
    </div>
    <div nz-col [nzLg]="6" [nzMd]="8" [nzSm]="24" [nzXl]="6" [nzXs]="24" [nzXXl]="4">
      <div class="left-start-center">
        <nz-statistic class="m-r-25" nzTitle="Trạng thái" nzValue="Chờ phê duyệt"></nz-statistic>
        <nz-statistic nzPrefix="¥" nzTitle="Số tiền đơn hàng" [nzValue]="568.08"></nz-statistic>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #headerFooter>
  <nz-tabs [(nzSelectedIndex)]="currentSelTab">
    <nz-tab nzTitle="Chi tiết" (nzClick)="to(tabEnum.Detail)"></nz-tab>
    <nz-tab nzTitle="Quy tắc" (nzClick)="to(tabEnum.Rule)"></nz-tab>
  </nz-tabs>
</ng-template>

<div class="normal-table-wrap">
  <nz-card nzTitle="Tiến độ quy trình">
    <app-water-mark />
    <nz-steps [nzCurrent]="1" [nzDirection]="stepDirection" [nzProgressDot]="progressTemplate">
      <nz-step nzTitle="Tạo dự án" [nzDescription]="createTpl"></nz-step>
      <nz-step nzTitle="Phòng ban duyệt vòng 1" [nzDescription]="trialTpl"></nz-step>
      <nz-step nzTitle="Kế toán kiểm tra"></nz-step>
      <nz-step nzTitle="Hoàn thành"></nz-step>
    </nz-steps>
    <ng-template #createTpl>
      <div>
        <span class="m-r-8">Khúc Lệ Lệ</span>
        <i nz-icon nzTheme="outline" nzType="dingding"></i>
      </div>
      <div>2016-12-12 12:32</div>
    </ng-template>
    <ng-template #trialTpl>
      <div>
        <span class="m-r-8">Châu Mao Mao</span>
        <i nz-icon nzTheme="outline" nzType="dingding" style="color: rgb(0, 160, 233)"></i>
      </div>
      <div>
        <a class="operate-text">Nhắc nhở chút</a>
      </div>
    </ng-template>
    <ng-template #progressTemplate let-dot let-index="index" let-status="status">
      <span nz-popover style="margin-left: -100%" [nzPopoverContent]="trialPopTpl">
        <ng-template [ngTemplateOutlet]="dot"></ng-template>
      </span>
    </ng-template>
    <ng-template #trialPopTpl>
      <div style="width: 160px">
        <div class="flex">
          <div class="flex-1">Ngô Gia Hào</div>
          <nz-badge nzStatus="default" nzText="Không phản hồi"></nz-badge>
        </div>
        <div class="mt5">Thời gian tiêu tốn:2giờ25phút</div>
      </div>
    </ng-template>
  </nz-card>

  <nz-card class="m-t-20" nzTitle="Thông tin người dùng">
    <app-water-mark />
    <nz-descriptions>
      <nz-descriptions-item nzTitle="Tên người dùng">Phó Tiểu Tiểu</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Số thẻ thành viên">32943898021309809423</nz-descriptions-item>
      <nz-descriptions-item nzTitle="CCCD/CMND">3321944288191034921</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Phương thức liên hệ">18112345678</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Địa chỉ liên hệ" [nzSpan]="2">Khúc Lệ Lệ 18100000000 Ngã tư đường Công Chuyên và Hoàng Cô Sơn, Tây Hồ, Hàng Châu</nz-descriptions-item>
    </nz-descriptions>
    <nz-descriptions class="m-t-20" nzTitle="Nhóm thông tin">
      <nz-descriptions-item nzTitle="Dữ liệu nào đó">725</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Thời gian cập nhật dữ liệu này">2017-08-08</nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="dataTitleTpl">725</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Thời gian cập nhật dữ liệu này">2017-08-08</nz-descriptions-item>
    </nz-descriptions>
    <ng-template #dataTitleTpl>
      Dữ liệu nào đó
      <i class="title-icon" nz-icon nz-tooltip nzTheme="outline" nzTooltipTitle="Giải thích dữ liệu" nzType="info-circle"></i>
    </ng-template>
    <h3 class="m-t-20">Nhóm thông tin</h3>
    <nz-card class="m-t-20" nzTitle="Nhóm thông tin đa cấp" nzType="inner">
      <nz-descriptions nzTitle="Tên nhóm">
        <nz-descriptions-item nzTitle="Người phụ trách">Lâm Đông Đông</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Mã vai trò">1234567</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Phòng ban">XXCông ty - YYBộ phận</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Thời gian hết hạn">2017-08-08</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Mô tả" [nzSpan]="2">Mô tả này rất dài dài dài dài dài dài dài dài dài dài dài dài...</nz-descriptions-item>
      </nz-descriptions>
      <nz-divider></nz-divider>
      <nz-descriptions nzTitle="Tên nhóm" [nzColumn]="1">
        <nz-descriptions-item nzTitle="Tên khoa học">Citrullus lanatus (Thunb.) Matsum. et NakaiCây dây leo một năm; thân, cành mập, có gân rõ. Tua cuốn khá to..</nz-descriptions-item>
      </nz-descriptions>
      <nz-divider></nz-divider>
      <nz-descriptions nzTitle="Tên nhóm">
        <nz-descriptions-item nzTitle="Người phụ trách">Phó Tiểu Tiểu</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Mã vai trò">1234568</nz-descriptions-item>
      </nz-descriptions>
    </nz-card>
  </nz-card>

  <nz-card class="m-t-20" nzTitle="Nhật ký cuộc gọi người dùng 6 tháng qua">
    <app-water-mark />
    <nz-empty></nz-empty>
  </nz-card>

  <nz-card class="m-t-20">
    <app-water-mark />
    <nz-card-tab>
      <nz-tabs nzSize="large">
        <nz-tab nzTitle="Nhật ký thao tác 1"></nz-tab>
        <nz-tab nzTitle="Nhật ký thao tác 2"></nz-tab>
        <nz-tab nzTitle="Nhật ký thao tác 3"></nz-tab>
      </nz-tabs>
    </nz-card-tab>
    <app-ant-table [tableConfig]="returnTableConfig" [tableData]="returnDataList"></app-ant-table>
  </nz-card>
</div>

<ng-template #highLightTpl let-code="code">
  <nz-badge nzStatus="processing" nzText="Thành công"></nz-badge>
  và{{ code }}
</ng-template>
