<app-page-header [pageHeaderInfo]="pageHeaderInfo" />

<div class="normal-table-wrap">
  <nz-card nzTitle="Cứ thoải mái thao tác thanh cuộn đi">
    <div nz-row nzJustify="space-around">
      <div class="m-b-8" nz-col [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
        <div id="div-scroll3" class="div-scroll">
          <p>1. Sanji, tôi muốn ăn thịt</p>
          <p>2. Chất liệu áo của Nami ngày càng ít đi</p>
          <p>3. Đau khổ nhất của đời người là tỉnh mộng mà không có đường đi. Người nằm mộng là người hạnh phúc; nếu không thấy lối đi, điều quan trọng nhất là đừng đánh thức họ. "Sau khi Nora rời đi" 1923</p>
          <p>
            4.
            Nhiệm vụ cấp bách của chúng ta bây giờ là: một là sinh tồn, hai là no ấm, ba là phát triển. Kẻ nào cản trở tiền đồ đó, dù là xưa hay nay, dù là người hay quỷ, đều phải đạp đổ hết.
          </p>
          <p>5. Mặt trái của kẻ độc tài là nô tài, khi có quyền thì không từ thủ đoạn, khi thất thế thì đầy tính nô lệ. "Tục ngữ" năm 1933</p>
          <p>6. Bi kịch đem những thứ có giá trị trong cuộc đời phá hủy cho người xem, hài kịch đem những thứ vô giá trị xé nát cho người xem.</p>
          <p>7. Kỳ thực trên mặt đất làm gì có đường, người ta đi mãi thì thành đường thôi. "Cố hương"</p>
        </div>
      </div>

      <div nz-col [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
        <div id="div-scroll4" class="div-scroll">
          <p>1. Sanji, tôi muốn ăn thịt</p>
          <p>2. Chất liệu áo của Nami ngày càng ít đi</p>
          <p>3. Đau khổ nhất của đời người là tỉnh mộng mà không có đường đi. Người nằm mộng là người hạnh phúc; nếu không thấy lối đi, điều quan trọng nhất là đừng đánh thức họ. "Sau khi Nora rời đi" 1923</p>
          <p>
            4.
            Nhiệm vụ cấp bách của chúng ta bây giờ là: một là sinh tồn, hai là no ấm, ba là phát triển. Kẻ nào cản trở tiền đồ đó, dù là xưa hay nay, dù là người hay quỷ, đều phải đạp đổ hết.
          </p>
          <p>5. Mặt trái của kẻ độc tài là nô tài, khi có quyền thì không từ thủ đoạn, khi thất thế thì đầy tính nô lệ. "Tục ngữ" năm 1933</p>
          <p>6. Bi kịch đem những thứ có giá trị trong cuộc đời phá hủy cho người xem, hài kịch đem những thứ vô giá trị xé nát cho người xem.</p>
          <p>7. Kỳ thực trên mặt đất làm gì có đường, người ta đi mãi thì thành đường thôi. "Cố hương"</p>
        </div>
      </div>
    </div>
  </nz-card>
</div>
<button class="m-r-8 m-t-8 m-b-8" nz-button nzType="primary" (click)="toDocBottom()">Cuộn đến cuối màn hình</button>
<button class="m-r-8 m-t-8 m-b-8" nz-button nzType="primary" (click)="toDoc100()">Cuộn đến màn hình100px</button>
<button class="m-r-8 m-b-8" nz-button nzType="primary" (click)="toBox1()">Chỉ định vùng chứa1Cuộn</button>
<button class="m-r-8 m-b-8" nz-button nzType="primary" (click)="toBox2()">Chỉ định vùng chứa2Cuộn</button>
<nz-card>
  <p>Thú nhân không bao giờ làm nô lệ</p>
  <p>Set lợn rừng thiên hạ đệ nhất</p>
  <p>Thú nhân không bao giờ làm nô lệ</p>
  <p>Set lợn rừng thiên hạ đệ nhất</p>
  <p>Thú nhân không bao giờ làm nô lệ</p>
  <p>Set lợn rừng thiên hạ đệ nhất</p>
  <p>Thú nhân không bao giờ làm nô lệ</p>
  <p>Set lợn rừng thiên hạ đệ nhất</p>
  <p>Thú nhân không bao giờ làm nô lệ</p>
  <p>Set lợn rừng thiên hạ đệ nhất</p>
  <p>Thú nhân không bao giờ làm nô lệ</p>
  <p>Set lợn rừng thiên hạ đệ nhất</p>
  <p>Thú nhân không bao giờ làm nô lệ</p>
  <p>Set lợn rừng thiên hạ đệ nhất</p>
  <p>Thú nhân không bao giờ làm nô lệ</p>
  <p>Set lợn rừng thiên hạ đệ nhất</p>
  <p>Thú nhân không bao giờ làm nô lệ</p>
  <p>Set lợn rừng thiên hạ đệ nhất</p>
  <p>Thú nhân không bao giờ làm nô lệ</p>
  <p>Set lợn rừng thiên hạ đệ nhất</p>
  <p>Thú nhân không bao giờ làm nô lệ</p>
  <p>Set lợn rừng thiên hạ đệ nhất</p>
  <p>Thú nhân không bao giờ làm nô lệ</p>
  <p>Set lợn rừng thiên hạ đệ nhất</p>
  <p>Thú nhân không bao giờ làm nô lệ</p>
  <p>Set lợn rừng thiên hạ đệ nhất</p>
  <p>Thú nhân không bao giờ làm nô lệ</p>
  <p>Set lợn rừng thiên hạ đệ nhất</p>
  <p>Thú nhân không bao giờ làm nô lệ</p>
  <p>Set lợn rừng thiên hạ đệ nhất</p>
  <p>Thú nhân không bao giờ làm nô lệ</p>
  <p>Set lợn rừng thiên hạ đệ nhất</p>
  <p>Thú nhân không bao giờ làm nô lệ</p>
  <p>Set lợn rừng thiên hạ đệ nhất</p>
  <p>Thú nhân không bao giờ làm nô lệ</p>
  <p>Set lợn rừng thiên hạ đệ nhất</p>
  <p>Thú nhân không bao giờ làm nô lệ</p>
  <p>Set lợn rừng thiên hạ đệ nhất</p>
  <p>Thú nhân không bao giờ làm nô lệ</p>
  <button nz-button nzType="primary" (click)="toDocHead()">Cuộn đến đầu màn hình</button>
</nz-card>
