<nz-list nzItemLayout="horizontal">
  <nz-list-item [nzActions]="[passwordOp]">
    <ng-template #passwordOp>
      <a class="operate-text">Sửa đổi</a>
    </ng-template>
    <nz-list-item-meta nzTitle="Mật khẩu tài khoản" [nzDescription]="passwordDesc">
      <ng-template #passwordDesc>
        Độ mạnh mật khẩu hiện tại:
        <span class="text-green">Mạnh</span>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[phoneOp]">
    <ng-template #phoneOp>
      <a class="operate-text">Sửa đổi</a>
    </ng-template>
    <nz-list-item-meta nzTitle="Điện thoại bảo mật" [nzDescription]="phoneDesc">
      <ng-template #phoneDesc>Đã liên kết số điện thoại:159****2231</ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[questionOp]">
    <ng-template #questionOp>
      <a class="operate-text">Sửa đổi</a>
    </ng-template>
    <nz-list-item-meta nzTitle="Câu hỏi bảo mật" [nzDescription]="questionDesc">
      <ng-template #questionDesc>Chưa đặt câu hỏi bảo mật, giúp bảo vệ an toàn tài khoản</ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[emailOp]">
    <ng-template #emailOp>
      <a class="operate-text">Sửa đổi</a>
    </ng-template>
    <nz-list-item-meta nzTitle="Email phụ" [nzDescription]="emailDesc">
      <ng-template #emailDesc>Đã liên kết email:cip*****.com</ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[mfaOp]">
    <ng-template #mfaOp>
      <a class="operate-text">Sửa đổi</a>
    </ng-template>
    <nz-list-item-meta nzTitle="MFA Thiết bị" [nzDescription]="mfaDesc">
      <ng-template #mfaDesc>Chưa liên kết MFA Thiết bị, sau khi liên kết có thể dùng để xác thực 2 lớp</ng-template>
    </nz-list-item-meta>
  </nz-list-item>
</nz-list>
