<nz-list nzItemLayout="vertical">
  @for (item of 8 | numberLoop; track $index) {
    <nz-list-item nzNoFlex>
      <nz-list-item-meta>
        <nz-list-item-meta-title>
          <a>Alipay</a>
        </nz-list-item-meta-title>
        <nz-list-item-meta-description>
          <nz-tag>Ant Design</nz-tag>
          <nz-tag>Ngôn ngữ thiết kế</nz-tag>
          <nz-tag>Ant Financial</nz-tag>
        </nz-list-item-meta-description>
      </nz-list-item-meta>
      Đoạn văn minh họa: Nền tảng thiết kế Ant ant.design, với công sức tối thiểu, tích hợp vào Ant Financial, mang đến trải nghiệm xuyên suốt. Nền tảng thiết kế Ant Financial
      ant.design, với công sức tối thiểu, tích hợp mượt mà vào hệ sinh thái Ant Financial, cung cấp giải pháp trải nghiệm xuyên suốt quá trình thiết kế và phát triển.
      <div class="m-t-15 info">
        <div nz-row>
          <nz-avatar class="m-r-8" nzSize="small" nzSrc="imgs/default_face.png"></nz-avatar>
          <a class="operate-text">Phó Tiểu Tiểu</a>
          <span class="m-r-8">Phát hành trên</span>
          <a class="m-r-8 operate-text">https://ant.design</a>
          <time nz-typography nzType="secondary">2021-02-19 14:21</time>
        </div>
      </div>
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <i class="m-r-8" nz-icon nzType="star"></i>
          156
        </nz-list-item-action>
        <nz-list-item-action>
          <i class="m-r-8" nz-icon nzType="like"></i>
          156
        </nz-list-item-action>
        <nz-list-item-action>
          <i class="m-r-8" nz-icon nzType="message"></i>
          2
        </nz-list-item-action>
      </ul>
    </nz-list-item>
  }
</nz-list>
