<!--Phần đầu-->
<app-page-header [backTpl]="back" [backUrl]="backUrl" [pageHeaderInfo]="pageHeaderInfo"></app-page-header>

<ng-template #back>
  <span class="operate-text">Quay lại</span>
</ng-template>
<div class="normal-table-wrap">
  <h1>Ví dụ ô nhập liệu</h1>
  <input nz-input [ngModel]="name()" />

  <nz-divider></nz-divider>

  <h1>Trình diễn biểu mẫu</h1>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Vui lòng nhập tên đăng nhập!">
        <input type="text" formControlName="userName" nz-input placeholder="Tên đăng nhập" />
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
