<div>
  <h2 class="m-b-8" [class.is-over-model]="isOverModel()">Đăng Ghi</h2>
  <div class="full-with">
    <form class="login-form-wrap" nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-control nzErrorTip="Vui lòng nhập tên đăng nhập!">
          <input type="text" formControlName="userName" nz-input nzSize="large" placeholder="Tên đăng nhập" [placeholder]="'Không cần tài khoản và mật khẩu, đăng nhập trực tiếp'" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu!">
          <nz-input-wrapper>
            <input autocomplete="on" formControlName="password" nz-input nzSize="large" placeholder="Mật khẩu" [placeholder]="'no username and password,just login'" [type]="passwordVisible ? 'text' : 'password'" />
            <i nzInputSuffix nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
          </nz-input-wrapper>
        </nz-form-control>
      </nz-form-item>
      <div nz-row nzJustify="space-between">
        <div nz-col>
          <label formControlName="remember" nz-checkbox>
            <span>Nhớ mật khẩu</span>
          </label>
        </div>
        <div nz-col>
          <a class="operate-text">Quên mật khẩu?</a>
        </div>
      </div>
      <button class="full-with m-t-15 btn" nz-button nzSize="large" nzType="primary" (click)="submitForm()">Đăng Ghi</button>
      <div class="m-t-15" nz-row nzJustify="space-between">
        <button class="m-b-8" nz-button nz-col nzType="default" [nzSm]="7" [nzXs]="24" (click)="goOtherWay(typeEnum.Phone)">Đăng nhập bằng điện thoại</button>
        <button class="m-b-8" nz-button nz-col nzType="default" [nzSm]="7" [nzXs]="24" (click)="goOtherWay(typeEnum.Qr)">Đăng nhập bằng mã QR</button>
        <button class="m-b-8" nz-button nz-col nzType="default" [nzSm]="7" [nzXs]="24" (click)="goOtherWay(typeEnum.Register)">Chú thích Cuốn</button>
      </div>
      <nz-divider nzPlain nzText="Phương thức đăng nhập khác"></nz-divider>
      <div nz-row nzJustify="space-around">
        <i nz-col nz-icon nzTheme="fill" nzType="alipay-circle"></i>
        <i nz-col nz-icon nzTheme="fill" nzType="taobao-circle"></i>
        <i nz-col nz-icon nzTheme="fill" nzType="weibo-circle"></i>
        <i nz-col nz-icon nzTheme="fill" nzType="qq-circle"></i>
        <i nz-col nz-icon nzTheme="fill" nzType="google-circle"></i>
      </div>
    </form>
  </div>
</div>
