<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label nzFor="menuName" nzRequired [nzSm]="6" [nzXs]="24">Tên</nz-form-label>
    <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="14" [nzXs]="24">
      <input id="menuName" formControlName="menuName" nz-input placeholder="Tên" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="menuType" nzRequired [nzSm]="6" [nzXs]="24">Loại</nz-form-label>
    <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="14" [nzXs]="24">
      <nz-radio-group formControlName="menuType" (ngModelChange)="changeMenuType($event)">
        <label nz-radio nzValue="C">Menu</label>
        <label nz-radio nzValue="F">Nút</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  @if (menuType === 'C') {
    <nz-form-item>
      <nz-form-label nzFor="icon" [nzSm]="6" [nzXs]="24">zorroBiểu tượng</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-input-wrapper>
          <input formControlName="icon" nz-input />
          <app-icon-sel nzInputAddonAfter [visible]="selIconVisible" (selIcon)="seledIcon($event)"></app-icon-sel>
        </nz-input-wrapper>
      </nz-form-control>
    </nz-form-item>
  }
  @if (menuType === 'C') {
    <nz-form-item>
      <nz-form-label nzFor="alIcon" [nzSm]="6" [nzXs]="24">Biểu tượng Ali</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input id="alIcon" formControlName="alIcon" nz-input placeholder="Biểu tượng Ali" />
      </nz-form-control>
    </nz-form-item>
  }

  <nz-form-item>
    <nz-form-label nzFor="code" nzRequired [nzSm]="6" [nzXs]="24">Mã quyền</nz-form-label>
    <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="14" [nzXs]="24">
      <input id="code" formControlName="code" nz-input placeholder="Mã quyền" />
    </nz-form-control>
  </nz-form-item>
  @if (menuType === 'C') {
    <nz-form-item>
      <nz-form-label nzFor="path" nzRequired [nzSm]="6" [nzXs]="24">Đường dẫn Route</nz-form-label>
      <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="14" [nzXs]="24">
        <input id="path" formControlName="path" nz-input placeholder="Đường dẫn Route" />
      </nz-form-control>
    </nz-form-item>
  }
  <nz-form-item>
    <nz-form-label nzFor="orderNum" nzRequired [nzSm]="6" [nzXs]="24">Sắp xếp</nz-form-label>
    <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="14" [nzXs]="24">
      <nz-input-number formControlName="orderNum" [nzMin]="1" [nzStep]="1"></nz-input-number>
    </nz-form-control>
  </nz-form-item>
  @if (menuType === 'C') {
    <nz-form-item>
      <nz-form-label nzFor="visible" nzRequired [nzSm]="6" [nzXs]="24">Hiển thị</nz-form-label>
      <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="14" [nzXs]="24">
        <nz-radio-group formControlName="visible">
          <label nz-radio [nzValue]="true">Có</label>
          <label nz-radio [nzValue]="false">Không</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
  }
  <nz-form-item>
    <nz-form-label nzFor="status" nzRequired [nzSm]="6" [nzXs]="24">Trạng thái</nz-form-label>
    <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="14" [nzXs]="24">
      <nz-switch formControlName="status" nzCheckedChildren="Khả dụng" nzUnCheckedChildren="Vô hiệu hóa"></nz-switch>
    </nz-form-control>
  </nz-form-item>
  @if (menuType === 'C') {
    <nz-form-item>
      <nz-form-label nzFor="newLinkFlag" [nzSm]="6" [nzXs]="24">Liên kết ngoài</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-radio-group formControlName="newLinkFlag">
          <label nz-radio [nzValue]="true">Có</label>
          <label nz-radio [nzValue]="false">Không</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
  }
</form>
<ng-template #combineTpl let-control>
  @if (control.hasError('message')) {
    {{ control.errors.message }}
  }
  @if (control.hasError('required')) {
    Trường bắt buộc
  }
</ng-template>
