<p>Mọi thứ rồi sẽ trôi qua, không ai có thể nắm giữ được. Chúng ta cứ thế mà sống.</p>
<p>Mọi thứ rồi sẽ trôi qua, không ai có thể nắm giữ được. Chúng ta cứ thế mà sống.</p>
<p>Mọi thứ rồi sẽ trôi qua, không ai có thể nắm giữ được. Chúng ta cứ thế mà sống.</p>
<p>Mọi thứ rồi sẽ trôi qua, không ai có thể nắm giữ được. Chúng ta cứ thế mà sống.</p>
<p>Mọi thứ rồi sẽ trôi qua, không ai có thể nắm giữ được. Chúng ta cứ thế mà sống.</p>
<p>Mọi thứ rồi sẽ trôi qua, không ai có thể nắm giữ được. Chúng ta cứ thế mà sống.</p>
<p>Mọi thứ rồi sẽ trôi qua, không ai có thể nắm giữ được. Chúng ta cứ thế mà sống.</p>
<p>Mọi thứ rồi sẽ trôi qua, không ai có thể nắm giữ được. Chúng ta cứ thế mà sống.</p>
<p>Mọi thứ rồi sẽ trôi qua, không ai có thể nắm giữ được. Chúng ta cứ thế mà sống.</p>
