@let stepDirection = this.stepDirection();
<form class="form-wrap p-b-0 center-row" nz-form [class.p-0]="stepDirection === 'vertical'" [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label nzFor="title" nzRequired [nzSm]="6" [nzXs]="24">Tài khoản thanh toán</nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập tài khoản thanh toán" [nzSm]="14" [nzXs]="24">
      <nz-select formControlName="paymentAccount">
        <nz-option nzLabel="ant-design@alipay.com" nzValue="ant-design@alipay.com"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="a" nzRequired [nzSm]="6" [nzXs]="24">Tài khoản nhận tiền</nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập tài khoản nhận" [nzSm]="14" [nzXs]="24">
      <nz-input-wrapper>
        <nz-select nzInputAddonBefore class="phone-select" formControlName="payWay" style="width: 90px">
          <nz-option nzLabel="Alipay" nzValue="zhifubao"></nz-option>
          <nz-option nzLabel="Thẻ ngân hàng" nzValue="bankcard"></nz-option>
        </nz-select>
        <input id="'payWayNo'" formControlName="payWayNo" nz-input />
      </nz-input-wrapper>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="payeeName" nzRequired [nzSm]="6" [nzXs]="24">Tên người nhận</nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập tên người nhận" [nzSm]="14" [nzXs]="24">
      <input id="payeeName" formControlName="payeeName" nz-input placeholder="Tên người nhận" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="a" nzRequired [nzSm]="6" [nzXs]="24">Số tiền nhận</nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập số tiền" [nzSm]="14" [nzXs]="24">
      <nz-input-wrapper nzPrefix="￥">
        <input type="number" formControlName="amount" nz-input />
      </nz-input-wrapper>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row>
    <div nz-col [nzSpan]="6"></div>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <button nz-button nzType="primary" (click)="goNext()">Bước tiếp theo</button>
    </nz-form-control>
  </nz-form-item>
</form>

<nz-divider></nz-divider>
<section class="desc-wrap" [class.p-0]="stepDirection === 'vertical'">
  <h3 nz-typography nzType="secondary">Mô tả</h3>
  <h4 nz-typography nzType="secondary">Chuyển khoản đến ví Alipay</h4>
  <p nz-typography nzType="secondary">Nếu cần, có thể đặt câu hỏi thường gặp về sản phẩm ở đây.</p>
  <h4 nz-typography nzType="secondary">Chuyển khoản đến thẻ ngân hàng</h4>
  <p nz-typography nzType="secondary">Nếu cần, có thể đặt câu hỏi thường gặp về sản phẩm ở đây.</p>
</section>
