<div class="determine-wrap p-b-0">
  <nz-alert nzCloseable nzMessage="Sau khi xác nhận, tiền sẽ chuyển trực tiếp vào tài khoản đích và không thể hoàn lại." nzType="info"></nz-alert>
  <nz-descriptions class="m-t-20">
    <nz-descriptions-item nzTitle="Tài khoản thanh toán">ant-design&#64;alipay.com</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Tài khoản nhận tiền">test&#64;example.com</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Tên người nhận">Alex</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Số tiền chuyển">500đồng</nz-descriptions-item>
  </nz-descriptions>
  <nz-divider></nz-divider>
  <form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label nzFor="password" nzRequired [nzSm]="6" [nzXs]="24">Mật khẩu thanh toán</nz-form-label>
      <nz-form-control nzErrorTip="Mật khẩu thanh toán" [nzSm]="14" [nzXs]="24">
        <input type="password" formControlName="password" nz-input />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-control [nzOffset]="6" [nzSpan]="14">
        <button nz-button nzType="primary" (click)="submit()">Gửi</button>
        <button class="m-l-10" nz-button nzType="default" (click)="previous.emit()">Bước trước</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
