<form nz-form [formGroup]="addEditForm">
  <nz-form-item>
    <nz-form-label nzFor="sex" nzRequired [nzSm]="4" [nzXs]="24">Tên đăng nhập</nz-form-label>
    <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="18" [nzXs]="24">
      <input id="userName" formControlName="userName" nz-input placeholder="Tên đăng nhập" />
    </nz-form-control>
  </nz-form-item>
  @if (!isEdit) {
    <nz-form-item>
      <nz-form-label nzFor="roleId" nzRequired [nzSm]="4" [nzXs]="24">Mật khẩu</nz-form-label>
      <nz-form-control nzExtra="Mật khẩu khởi tạo của người dùng mới là:a123456" [nzErrorTip]="combineTpl" [nzSm]="18" [nzXs]="24">
        <input formControlName="password" nz-input placeholder="Mật khẩu" [type]="'password'" />
      </nz-form-control>
    </nz-form-item>
  }
  <nz-form-item>
    <nz-form-label nzFor="sex" nzRequired [nzSm]="4" [nzXs]="24">Giới tính</nz-form-label>
    <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="18" [nzXs]="24">
      <nz-radio-group formControlName="sex">
        <label nz-radio [nzValue]="1">Nam</label>
        <label nz-radio [nzValue]="0">Nữ</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="available" nzRequired [nzSm]="4" [nzXs]="24">Trạng thái</nz-form-label>
    <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="18" [nzXs]="24">
      <nz-switch formControlName="available" nzCheckedChildren="Khả dụng" nzUnCheckedChildren="Vô hiệu hóa"></nz-switch>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="telephone" nzRequired [nzSm]="4" [nzXs]="24">Số điện thoại</nz-form-label>
    <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="18" [nzXs]="24">
      <input id="telephone" formControlName="telephone" nz-input placeholder="Số điện thoại" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="mobile" nzRequired [nzSm]="4" [nzXs]="24">Số điện thoại</nz-form-label>
    <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="18" [nzXs]="24">
      <input id="mobile" formControlName="mobile" maxlength="11" nz-input placeholder="Số điện thoại" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="email" nzRequired [nzSm]="4" [nzXs]="24">Email</nz-form-label>
    <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="18" [nzXs]="24">
      <input id="email" formControlName="email" nz-input placeholder="Email" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="departmentId" nzRequired [nzSm]="4" [nzXs]="24">Phòng ban</nz-form-label>
    <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="18" [nzXs]="24">
      <nz-tree-select formControlName="departmentId" nzPlaceHolder="Please select" nzShowSearch nzDropdownMatchSelectWidth [nzNodes]="deptNodes"></nz-tree-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="roleId" nzRequired [nzSm]="4" [nzXs]="24">Vai trò người dùng</nz-form-label>
    <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="18" [nzXs]="24">
      <nz-select formControlName="roleId" nzMode="multiple" nzPlaceHolder="Vai trò">
        @for (option of roleOptions; track option) {
          <nz-option [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
        }
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #combineTpl let-control>
  @if (control.hasError('message')) {
    {{ control.errors.message }}
  }
  @if (control.hasError('required')) {
    Trường bắt buộc
  }
</ng-template>
