<nz-list nzItemLayout="horizontal">
  <nz-list-item [nzActions]="[githubOp]">
    <ng-template #githubOp>
      <a class="operate-text">Liên kết</a>
    </ng-template>
    <nz-list-item-meta nzDescription="Chưa được liên kếtGithubTài khoản" nzTitle="Liên kếtGithub" [nzAvatar]="githubAvatar">
      <ng-template #githubAvatar>
        <i class="icon-sm" nz-icon nzType="github"></i>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[taobaoOp]">
    <ng-template #taobaoOp>
      <a class="operate-text">Liên kết</a>
    </ng-template>
    <nz-list-item-meta nzDescription="Chưa được liên kếtTaobaoTài khoản" nzTitle="Liên kếtTaobao" [nzAvatar]="taobaoAvatar">
      <ng-template #taobaoAvatar>
        <i class="icon-sm color-taobao" nz-icon nzType="taobao"></i>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[alipayOp]">
    <ng-template #alipayOp>
      <a class="operate-text">Liên kết</a>
    </ng-template>
    <nz-list-item-meta nzDescription="Chưa được liên kếtAlipayTài khoản" nzTitle="Liên kếtAlipay" [nzAvatar]="alipayAvatar">
      <ng-template #alipayAvatar>
        <i class="icon-sm color-alipay" nz-icon nzType="alipay-circle"></i>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
</nz-list>
