<div>
  <h2 [class.is-over-model]="isOverModel()">Đăng nhập bằng mã QR</h2>
  <div class="full-with">
    <form class="login-form-wrap" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control class="p-24">
          <nz-qrcode class="center p-8" nzValue="https://github.com/huajian123/ng-antd-admin" [nzBordered]="false" [nzPadding]="0" [nzSize]="250"></nz-qrcode>
          <span class="center sp-14 desc" nz-typography nzType="secondary">Sau khi quét mã, nhấp vào"Xác nhận", là có thể đăng nhập thành công</span>
        </nz-form-control>
      </nz-form-item>
      <button class="full-with" nz-button nzSize="large" nzType="default" (click)="goOtherWay(typeEnum.Normal)">Quay lại Trở về</button>
    </form>
  </div>
</div>
