<app-page-header [pageHeaderInfo]="pageHeaderInfo" />

<div class="normal-table-wrap">
  <nz-card class="relative" [nzBodyStyle]="{ padding: 0 }">
    <div id="wrap" class="p-0 m-t-0" nz-result-content nz-row nzJustify="space-between">
      <div>
        <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="Đưa lên trước" nzType="text">
          <i nz-icon nzTheme="outline" nzType="vertical-align-top"></i>
        </button>
        <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="Đưa xuống sau" nzType="text">
          <i nz-icon nzTheme="outline" nzType="vertical-align-bottom"></i>
        </button>
        <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="Bật chọn hộp" nzType="text">
          <i nz-icon nzTheme="outline" nzType="gateway"></i>
        </button>
        <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="Tạo nhóm mới" nzType="text">
          <i nz-icon nzTheme="outline" nzType="group"></i>
        </button>
        <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="Giải tán nhóm" nzType="text">
          <i nz-icon nzTheme="outline" nzType="ungroup"></i>
        </button>
        <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="Lưu" nzType="text">
          <i nz-icon nzTheme="outline" nzType="save"></i>
        </button>
      </div>
      <div>
        <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="Phóng to" nzType="text">
          <i nz-icon nzTheme="outline" nzType="plus-circle"></i>
        </button>
        <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="Thu nhỏ" nzType="text">
          <i nz-icon nzTheme="outline" nzType="minus-circle"></i>
        </button>
        <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="Thu phóng tới1：1" nzType="text">
          <i nz-icon nzTheme="outline" nzType="one-to-one"></i>
        </button>
        <button nz-button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="Thu phóng vừa màn hình" nzType="text">
          <i nz-icon nzTheme="outline" nzType="compress"></i>
        </button>
      </div>
    </div>
    <div class="flex">
      <div #container id="container" class="flex-1"></div>
    </div>

    <nz-card class="absolute node-sel-bar" [nzBodyStyle]="{ padding: 0 }">
      <div class="flex flex-column">
        <i nz-icon nz-tooltip nzTheme="outline" nzTooltipPlacement="right" nzTooltipTitle="Hình vuông" nzType="border" shap="rect" (mousedown)="drag($event)"></i>
        <i nz-icon nz-tooltip nzTheme="outline" nzTooltipPlacement="right" nzTooltipTitle="Hình tròn" nzType="user" shap="circle" (mousedown)="drag($event)"></i>
      </div>
    </nz-card>
  </nz-card>
</div>
