@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/compact';
@import './base';

@layout-header-background: @component-background;
@menu-dark-bg: #001529;
@layout-sider-background: @menu-dark-bg;

@component-background: #fff; // Theme này trong zorro không có biến này, sẽ báo lỗi
@white: #fff; // Theme này trong zorro không có biến này, sẽ báo lỗi
@text-color-inverse: @white; // Theme này trong zorro không có biến này, sẽ báo lỗi
@primary-6: @primary-color; // Theme này trong zorro không có biến này, sẽ báo lỗi
.operate-text {
  color: @primary-color;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #ccc;
}

*::-webkit-scrollbar-corner {
  background: #f1f1f1;
}
