@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/dark';
@import './base';

@layout-trigger-background-light: @component-background;
@menu-item-vertical-margin: 0;

.operate-text {
  color: @primary-color;
}

.ant-menu-horizontal {
  border: none;
}

@menu-dark-bg: @layout-header-background;
@menu-bg: @layout-header-background;
@layout-sider-background-light: @menu-bg;

::-webkit-scrollbar {
  /* Kiểu thanh cuộn tổng thể */
  width: 6px;
  height: 6px;
  background: #263848;
}

/* Định nghĩa đường ray thanh cuộn */

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 0.2);
}

/* Định nghĩa thanh trượt */

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #53616e !important;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 0.1);
}
