<nz-card [nzBodyStyle]="{ padding: '10px 24px' }" [nzBordered]="false">
  <div class="left-start-center">
    <nz-breadcrumb>
      <nz-breadcrumb-item>Trang chủ</nz-breadcrumb-item>
      <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
      <nz-breadcrumb-item>Trang phân tích</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
</nz-card>

<section class="content-wrap">
  <section class="ant-row" nz-row [nzGutter]="[32, 16]">
    <div nz-col [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXl]="6" [nzXs]="24" [nzXXl]="6">
      <div class="card-wrap">
        <nz-card [nzBodyStyle]="cardPadding" [nzBordered]="false">
          <div class="card-top">
            <div class="title">Tổng doanh số</div>
            <div class="number">￥126,560</div>
            <i nz-icon nz-tooltip nzTheme="outline" nzTooltipTitle="Chỉ số mô tả" nzType="info-circle"></i>
          </div>
          <div class="card-mid">
            <div class="mid-text">
              <span>
                So với hôm qua 11%
                <i nz-icon nzTheme="outline" nzType="caret-down" style="color: green; font-size: 12px"></i>
              </span>
            </div>
            <div class="mid-text">
              <span>
                So với tuần trước 12%
                <i nz-icon nzTheme="outline" nzType="caret-up" style="color: red; font-size: 12px"></i>
              </span>
            </div>
          </div>
          <nz-divider class="m-0"></nz-divider>
          <div class="card-footer">Doanh thu hàng ngày ￥12,423</div>
        </nz-card>
      </div>
    </div>
    <div nz-col [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXl]="6" [nzXs]="24" [nzXXl]="6">
      <div class="card-wrap">
        <nz-card [nzBodyStyle]="cardPadding" [nzBordered]="false">
          <div class="card-top">
            <div class="title">Lượng truy cập</div>
            <div class="number">8,846</div>
            <i nz-icon nz-tooltip nzTheme="outline" nzTooltipTitle="Chỉ số mô tả" nzType="info-circle"></i>
          </div>
          <div class="card-mid">
            <div id="miniArea"></div>
          </div>
          <nz-divider class="m-0"></nz-divider>
          <div class="card-footer">Lượng truy cập hàng ngày 1,234</div>
        </nz-card>
      </div>
    </div>
    <div nz-col [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXl]="6" [nzXs]="24" [nzXXl]="6">
      <div class="card-wrap">
        <nz-card [nzBodyStyle]="cardPadding" [nzBordered]="false">
          <div class="card-top">
            <div class="title">Số lần thanh toán</div>
            <div class="number">6,560</div>
            <i nz-icon nz-tooltip nzTheme="outline" nzTooltipTitle="Chỉ số mô tả" nzType="info-circle"></i>
          </div>
          <div class="card-mid">
            <div id="miniBar"></div>
          </div>
          <nz-divider class="m-0"></nz-divider>
          <div class="card-footer">Tỷ lệ chuyển đổi 60%</div>
        </nz-card>
      </div>
    </div>
    <div nz-col [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXl]="6" [nzXs]="24" [nzXXl]="6">
      <div class="card-wrap">
        <nz-card [nzBodyStyle]="cardPadding" [nzBordered]="false">
          <div class="card-top">
            <div class="title">Hiệu quả chiến dịch</div>
            <div class="number">78%</div>
            <i nz-icon nz-tooltip nzTheme="outline" nzTooltipTitle="Chỉ số mô tả" nzType="info-circle"></i>
          </div>
          <div class="card-mid">
            <div id="progress"></div>
          </div>
          <nz-divider class="m-0"></nz-divider>
          <div class="card-footer">Doanh thu hàng ngày ￥12,423</div>
        </nz-card>
      </div>
    </div>
  </section>

  <section class="flow-wrap m-t-20">
    <nz-card [nzBodyStyle]="{ padding: 0 }" nzBordered>
      <nz-tabs [nzAnimated]="false" [nzTabBarExtraContent]="extraTemplate" [nzTabBarStyle]="{ padding: '0 10px', fontSize: '16px' }">
        <nz-tab nzTitle="Doanh số">
          <div nz-row>
            <div nz-col [nzLg]="12" [nzMd]="13" [nzSm]="24" [nzXl]="17" [nzXs]="24">
              <h3 class="p-l-35">Xu hướng doanh thu</h3>
              <div id="histogram"></div>
            </div>
            <div nz-col [nzLg]="12" [nzMd]="11" [nzSm]="24" [nzXl]="7" [nzXs]="24">
              <h3 class="p-l-35 m-b-20">Top doanh số cửa hàng</h3>
              @for (_ of 7 | numberLoop; track $index) {
                <div class="rank-list" title="Đường Công Chuyên {{ $index + 1 }} Cửa hàng số">
                  <div class="center">
                    <!--  <nz-badge [nzCount]="$index + 1" [nzStyle]="{ backgroundColor: $index < 4 ? '#314659' : '#fafafa', color: $index < 4 ? '#fff' : 'black' }"></nz-badge>-->
                    <span class="rank-badge" [style.backgroundColor]="$index < 4 ? '#314659' : '#fafafa'" [style.color]="$index < 4 ? '#fff' : 'black'">{{ $index + 1 }}</span>
                    <span class="m-l-5">Đường Công Chuyên {{ $index + 1 }} Cửa hàng số</span>
                  </div>
                  <div>323,234</div>
                </div>
              }
            </div>
          </div>
        </nz-tab>
        <nz-tab nzTitle="Lượng truy cập">
          <div class="p-16">
            <div nz-row [nzGutter]="[16, 16]">
              <div nz-col [nzLg]="8" [nzMd]="8" [nzSm]="24" [nzXl]="8" [nzXs]="24">
                <nz-card [nzBordered]="false">
                  <div nz-typography nzType="secondary">Lượng truy cập hôm nay</div>
                  <h2 class="m-t-10 m-b-0">98,765</h2>
                  <div class="m-t-10">
                    <span nz-typography nzType="success">So với hôm qua +12.6%</span>
                  </div>
                </nz-card>
              </div>

              <div nz-col [nzLg]="8" [nzMd]="8" [nzSm]="24" [nzXl]="8" [nzXs]="24">
                <nz-card [nzBordered]="false">
                  <div nz-typography nzType="secondary">Thời gian truy cập bình quân</div>
                  <h2 class="m-t-10 m-b-0">6phút32Giây</h2>
                  <div class="m-t-10">
                    <span nz-typography nzType="warning">So với tuần trước -3.1%</span>
                  </div>
                </nz-card>
              </div>

              <div nz-col [nzLg]="8" [nzMd]="8" [nzSm]="24" [nzXl]="8" [nzXs]="24">
                <nz-card [nzBordered]="false">
                  <div nz-typography nzType="secondary">Tỷ lệ thoát</div>
                  <h2 class="m-t-10 m-b-0">24.8%</h2>
                  <div class="m-t-10">
                    <span nz-typography nzType="success">So với tuần trước -1.4%</span>
                  </div>
                </nz-card>
              </div>
            </div>

            <div class="m-t-12">
              <div nz-row [nzGutter]="[16, 16]">
                <div nz-col [nzLg]="14" [nzMd]="14" [nzSm]="24" [nzXl]="14" [nzXs]="24">
                  <nz-card nzTitle="Phân bố nguồn truy cập" [nzBordered]="false">
                    <div class="m-b-10" nz-typography nzType="secondary">Lưu lượng tự nhiên tiếp tục tăng,Tìm kiếmCông cụ và truy cập trực tiếp có tỷ lệ ổn định.</div>
                    <div class="rank-list">
                      <div class="center"><span class="rank-badge" style="background: #314659; color: #fff">1</span><span class="m-l-5">Truy cập trực tiếp</span></div>
                      <div>35.2%</div>
                    </div>
                    <div class="rank-list">
                      <div class="center"><span class="rank-badge" style="background: #314659; color: #fff">2</span><span class="m-l-5">Tìm kiếmCông cụ</span></div>
                      <div>28.7%</div>
                    </div>
                    <div class="rank-list">
                      <div class="center"><span class="rank-badge" style="background: #314659; color: #fff">3</span><span class="m-l-5">Liên kết ngoài</span></div>
                      <div>19.5%</div>
                    </div>
                    <div class="rank-list">
                      <div class="center"><span class="rank-badge" style="background: #fafafa; color: #000">4</span><span class="m-l-5">Mạng xã hội</span></div>
                      <div>10.1%</div>
                    </div>
                    <div class="rank-list">
                      <div class="center"><span class="rank-badge" style="background: #fafafa; color: #000">5</span><span class="m-l-5">Tiếp thị email</span></div>
                      <div>6.5%</div>
                    </div>
                  </nz-card>
                </div>

                <div nz-col [nzLg]="10" [nzMd]="10" [nzSm]="24" [nzXl]="10" [nzXs]="24">
                  <nz-card nzTitle="Gần7Xu hướng truy cập theo ngày" [nzBordered]="false">
                    <div class="rank-list">
                      <div>Thứ hai</div>
                      <div>12,430</div>
                    </div>
                    <div class="rank-list">
                      <div>Thứ ba</div>
                      <div>13,012</div>
                    </div>
                    <div class="rank-list">
                      <div>Thứ tư</div>
                      <div>13,876</div>
                    </div>
                    <div class="rank-list">
                      <div>Thứ năm</div>
                      <div>14,205</div>
                    </div>
                    <div class="rank-list">
                      <div>Thứ sáu</div>
                      <div>15,090</div>
                    </div>
                    <div class="rank-list">
                      <div>Thứ bảy</div>
                      <div>14,660</div>
                    </div>
                    <div class="rank-list">
                      <div>Chủ nhật</div>
                      <div>15,492</div>
                    </div>
                  </nz-card>
                </div>
              </div>
            </div>
          </div>
        </nz-tab>
      </nz-tabs>
    </nz-card>

    <ng-template #extraTemplate>
      <nz-radio-group nzSize="small">
        <label nz-radio-button nzValue="A">Hôm nay</label>
        <label nz-radio-button nzValue="B">Tuần này</label>
        <label nz-radio-button nzValue="C">Tháng này</label>
        <label nz-radio-button nzValue="D">Cả năm</label>
      </nz-radio-group>
      <nz-range-picker *appScreenLessHidden="620" class="m-l-20"></nz-range-picker>
    </ng-template>
  </section>

  <section class="m-t-20" nz-row [nzGutter]="[16, 0]">
    <div class="hot-search-wrap" nz-col nzSpan="12" [nzLg]="12" [nzMd]="24" [nzSm]="24" [nzXl]="12" [nzXs]="24" [nzXXl]="12">
      <nz-card [nzBodyStyle]="{ height: '500px' }" [nzExtra]="hotExtra" nzTitle="Xu hướng trực tuyếnTìm kiếm">
        <div class="search-wrap" nz-row>
          <div class="search-block" nz-col [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXl]="12" [nzXs]="24" [nzXXl]="12">
            <div>
              <div>
                <span nz-typography nzType="secondary">
                  Tìm kiếmSố lượng người dùng
                  <i nz-icon nz-tooltip nzTheme="outline" nzTooltipTitle="Chỉ số mô tả" nzType="info-circle"></i>
                </span>
              </div>
              <div>
                <h3 class="d-i-b m-r-30" nz-typography>12,321</h3>
                <span>
                  17.1
                  <i nz-icon nzTheme="outline" nzType="caret-up" style="color: red; font-size: 12px"></i>
                </span>
              </div>
            </div>
            <div id="searchUserChart"></div>
          </div>
          <div class="search-block" nz-col [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXl]="12" [nzXs]="24" [nzXXl]="12">
            <div>
              <div>
                <span nz-typography nzType="secondary">
                  Bình quân đầu ngườiTìm kiếmSố lần
                  <i nz-icon nz-tooltip nzTheme="outline" nzTooltipTitle="Chỉ số mô tả" nzType="info-circle"></i>
                </span>
              </div>
              <div>
                <h3 class="d-i-b m-r-30" nz-typography>12,321</h3>
                <span>
                  17.1
                  <i nz-icon nzTheme="outline" nzType="caret-up" style="color: red; font-size: 12px"></i>
                </span>
              </div>
            </div>
            <div id="searchUserAvgChart"></div>
          </div>
          <nz-table #sortTable class="m-t-25" nzSize="small" nzTableLayout="fixed" [nzData]="listOfData">
            <thead>
              <tr>
                @for (column of listOfColumn; track column) {
                  <th [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{ column.title }}</th>
                }
              </tr>
            </thead>
            <tbody>
              @for (data of sortTable.data; track data) {
                <tr>
                  <td>{{ data.name }}</td>
                  <td>{{ data.chinese }}</td>
                  <td>{{ data.math }}</td>
                  <td>{{ data.english }}</td>
                </tr>
              }
            </tbody>
          </nz-table>
        </div>
      </nz-card>
      <ng-template #hotExtra>
        <a>More</a>
      </ng-template>
    </div>
    <div class="pipe-wrap" nz-col nzSpan="12" [nzLg]="12" [nzMd]="24" [nzSm]="24" [nzXl]="12" [nzXs]="24" [nzXXl]="12">
      <nz-card [nzBodyStyle]="{ height: '500px' }" nzTitle="Tỷ trọng doanh thu theo loại">
        <h4>Doanh số</h4>
        <div id="ringPie"></div>
      </nz-card>
    </div>
  </section>
</section>
