<div class="flex center flex-column">
  <nz-avatar [nzSize]="70" nzSrc="imgs/default_face.png"></nz-avatar>
  <p class="sp-16 m-t-8">Serati Ma</p>

  <form class="m-t-30 full-with p-l-25 p-r-24 m-b-20" autocomplete="off" nz-form [formGroup]="validateForm" nzLayout="vertical">
    <nz-form-item>
      <nz-form-label nzRequired>Mật khẩu khóa</nz-form-label>
      <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu khóa màn hình">
        <nz-input-wrapper>
          <input name="password" autocomplete="off" formControlName="password" nz-input placeholder="Vui lòng nhập" [type]="passwordVisible ? 'text' : 'password'" />
          <i nzInputSuffix nz-icon [nzType]="!passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
        </nz-input-wrapper>
      </nz-form-control>
    </nz-form-item>
    <button class="login-form-button full-with" nz-button nzSize="large" nzType="primary" (click)="submitForm()">Khóa</button>
  </form>
</div>
