<app-page-header [pageHeaderInfo]="pageHeaderInfo" />

<div class="normal-table-wrap">
  <nz-card class="m-b-10" nzTitle="Tải xuống file qua stream từ API">
    <button nz-button nzType="primary" (click)="fileStreamDownload()">Tải xuống bằng File Stream</button>
  </nz-card>
  <nz-card class="m-b-10" nzTitle="Tải file qua địa chỉ">
    <button nz-button nzType="primary" (click)="fileStreamDownload()">Tải xuống bằng URL</button>
  </nz-card>
  <nz-card class="m-b-10" nzTitle="base64Tải xuống Stream">
    <button nz-button nzType="primary" (click)="fileStreamDownload()">base64Tải xuống Stream</button>
  </nz-card>
  <nz-card class="m-b-10" nzTitle="Hình ảnhUrlTải xuống,Nếu có vấn đề tên miền chéo, cần xử lý cross-domain hình ảnh">
    <button nz-button nzType="primary" (click)="fileStreamDownload()">Hình ảnhUrlTải xuống</button>
  </nz-card>
</div>
