<form nz-form [formGroup]="loginModalForm">
  <nz-form-item>
    <nz-form-label nzFor="userName" nzRequired [nzSm]="6" [nzXs]="24">Tên đăng nhập</nz-form-label>
    <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="14" [nzXs]="24">
      <input id="userName" formControlName="userName" nz-input placeholder="Tên đăng nhập" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="password" nzRequired [nzSm]="6" [nzXs]="24">Mật khẩu</nz-form-label>
    <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="14" [nzXs]="24">
      <input id="password" name="password" formControlName="password" nz-input placeholder="Vui lòng nhập mật khẩu" />
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #combineTpl let-control>
  @if (control.hasError('required')) {
    Trường bắt buộc
  }
</ng-template>
