<app-page-header [pageHeaderInfo]="pageHeaderInfo" />
<div class="normal-table-wrap">
  <nz-card nzTitle="Ví dụ đơn giản, máy chủQuay lạiĐịa chỉ tệp đồng nhất, tính năng demo không bịLưuTải lên tệp">
    <nz-upload [nzAction]="uploadUrl" [nzFileList]="fileList" [nzLimit]="1" nzName="document" nzShowButton [nzSize]="1024 * 5" (nzChange)="handleChange($event)">
      <button nz-button>
        <i nz-icon nzType="upload"></i>
        Nhập tài liệu(Tải lên bản kiểm tra lớn nhất5M)
      </button>
    </nz-upload>
  </nz-card>
  <nz-card class="m-t-20" nzTitle="Nhúng biểu mẫu, thêm xác thực biểu mẫu">
    <form nz-form nzLayout="vertical" [formGroup]="validateForm">
      <nz-form-item nz-col nzSpan="24">
        <nz-form-control [nzErrorTip]="combineTpl" [nzSm]="6" [nzXs]="24">
          <nz-form-label [nzSm]="14" [nzXs]="24">Tệp đính kèm:</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-upload [nzAction]="uploadUrl" [nzFileList]="fileFormList" [nzLimit]="1" nzName="document" [nzSize]="1024 * 5" (nzChange)="uploadFn($event)">
              <button nz-button>
                <i nz-icon nzType="upload"></i>
                Tải lên tệp đính kèm(Tải lên bản kiểm tra lớn nhất5M)
              </button>
              <input formControlName="file" [hidden]="true" />
            </nz-upload>
          </nz-form-control>
        </nz-form-control>
        <nz-form-item class="m-t-20" nz-row>
          <nz-form-control [nzSpan]="14">
            <button nz-button nzType="primary" (click)="submitForm()">Gửi</button>
            <button class="m-l-10" nz-button nzType="default" (click)="resetForm()">Đặt lại</button>
          </nz-form-control>
        </nz-form-item>
      </nz-form-item>
    </form>
  </nz-card>
</div>
<ng-template #combineTpl let-control>
  @if (control.hasError('message')) {
    {{ control.errors.message }}
  }
  @if (control.hasError('required')) {
    Trường bắt buộc
  }
</ng-template>
