<!--Phần đầu-->
<app-page-header [pageHeaderInfo]="pageHeaderInfo" />

<div class="normal-table-wrap">
  <nz-card>
    <app-water-mark />
    <nz-descriptions nzTitle="Yêu cầu hoàn tiền">
      <nz-descriptions-item nzTitle="Mã đơn nhận hàng">1000000000</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Trạng thái">Đã lấy hàng</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Mã đơn hàng">1234123421</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Đơn hàng con">3214321432</nz-descriptions-item>
    </nz-descriptions>
    <nz-divider></nz-divider>
    <nz-descriptions nzTitle="Thông tin người dùng">
      <nz-descriptions-item nzTitle="Tên người dùng">Phó Tiểu Tiểu</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Số điện thoại">18100000000</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Chuyển phát nhanh thường dùng">Kho bãi Cainiao</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Địa chỉ nhận hàng">Đường Vạn Đường, Tây Hồ, Hàng Châu, Chiết Giang18Số</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Ghi chú">Không</nz-descriptions-item>
    </nz-descriptions>
    <nz-divider></nz-divider>
    <h2 class="sp-18 m-b-10">Hàng trả lại</h2>
    <app-ant-table [tableConfig]="returnTableConfig" [tableData]="returnDataList"></app-ant-table>
    <nz-divider class="m-t-0"></nz-divider>
    <h2 class="sp-18 m-b-10">Tiến độ trả hàng</h2>
    <app-ant-table [tableConfig]="returnTableConfig2" [tableData]="returnDataList"></app-ant-table>
  </nz-card>
</div>
<ng-template #returnProductTpl let-num="num">
  <span class="operate-text">{{ num }}</span>
</ng-template>
