<div nz-row>
  <div nz-col [nzLg]="24" [nzMd]="24" [nzOrder]="formOrder()" [nzSm]="24" [nzXl]="12" [nzXs]="24" [nzXXl]="12">
    <form nz-form [formGroup]="validateForm" nzLayout="vertical" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label nzFor="email" nzRequired nzSpan="24">Email</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập email" nzSpan="24">
          <input id="email" formControlName="email" nz-input placeholder="Email" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="password" nzSpan="24">Biệt danh</nz-form-label>
        <nz-form-control nzErrorTip="Biệt danh" nzSpan="24">
          <input id="nickName" formControlName="nickName" nz-input placeholder="Biệt danh" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="desc" nzRequired nzSpan="24">Giới thiệu cá nhân</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập giới thiệu bản thân" nzSpan="24">
          <textarea id="desc" formControlName="desc" nz-input placeholder="Vui lòng nhập giới thiệu bản thân" rows="4"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="password" nzRequired nzSpan="24">Quốc gia/Khu vực</nz-form-label>
        <nz-form-control nzErrorTip="Biệt danh" nzSpan="24">
          <nz-select formControlName="area">
            <nz-option nzLabel="Trung Quốc" nzValue="jack"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="password" nzRequired nzSpan="24">Tỉnh thành</nz-form-label>
        <nz-form-control nzErrorTip="Biệt danh" nzSpan="24">
          <div nz-row [nzGutter]="[16, 16]">
            <div nz-col nzSpan="12">
              <nz-select formControlName="province" (ngModelChange)="provinceChange($event)">
                @for (p of provinceData; track p) {
                  <nz-option [nzLabel]="p" [nzValue]="p"></nz-option>
                }
              </nz-select>
            </div>
            <div nz-col nzSpan="12">
              <nz-select formControlName="city">
                @for (c of cityData[selectedProvince]; track c) {
                  <nz-option [nzLabel]="c" [nzValue]="c"></nz-option>
                }
              </nz-select>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="street" nzRequired nzSpan="24">Địa chỉ đường phố</nz-form-label>
        <nz-form-control nzErrorTip="Địa chỉ đường phố" nzSpan="24">
          <input id="street" formControlName="street" nz-input placeholder="Địa chỉ đường phố" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="telephone" nzRequired nzSpan="24">Số điện thoại</nz-form-label>
        <nz-form-control nzSpan="24" [nzErrorTip]="combineTpl">
          <input id="telephone" formControlName="telephone" nz-input placeholder="Số điện thoại" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="mobile" nzRequired nzSpan="24">Số điện thoại</nz-form-label>
        <nz-form-control nzSpan="24" [nzErrorTip]="combineTpl">
          <input id="mobile" formControlName="mobile" maxlength="11" nz-input placeholder="Số điện thoại" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row>
        <nz-form-control [nzSpan]="14">
          <button nz-button nzType="primary">Cập nhật thông tin cơ bản</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div class="avatar" nz-col [class.is-full]="formOrder() === 1" [nzLg]="24" [nzMd]="24" [nzOrder]="avatarOrder()" [nzSm]="24" [nzXl]="12" [nzXs]="24" [nzXXl]="12">
    @if (formOrder() === 0) {
      <div class="m-b-8">Ảnh đại diện</div>
    }
    <div class="avatar-wrap">
      <nz-avatar class="m-b-8" [nzSize]="144" nzSrc="imgs/default_face.png"></nz-avatar>
      <div class="upload">
        <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" [nzHeaders]="{ authorization: 'authorization-text' }" (nzChange)="handleChange($event)">
          <button nz-button>
            <i nz-icon nzType="upload"></i>
            Đổi ảnh đại diện
          </button>
        </nz-upload>
      </div>
    </div>
  </div>
</div>
<ng-template #combineTpl let-control>
  @if (control.hasError('message')) {
    {{ control.errors.message }}
  }
  @if (control.hasError('required')) {
    Trường bắt buộc
  }
</ng-template>
