<div class="register-form-wrap">
  <h3 class="title">Đăng ký</h3>
  <form class="login-form" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Vui lòng nhập địa chỉ email!">
        <input type="text" formControlName="name" nz-input nzSize="large" placeholder="Email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu!">
        <input type="password" formControlName="password" nz-input nzSize="large" placeholder="Ít nhất6ký tự mật khẩu, phân biệt hoa thường" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Vui lòng xác nhận mật khẩu!">
        <input type="text" formControlName="name" nz-input nzSize="large" placeholder="Xác nhận mật khẩu" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Vui lòng nhập số điện thoại!">
        <nz-input-wrapper>
          <nz-select nzInputAddonBefore style="width: 70px" [ngModel]="'86'" [ngModelOptions]="{ standalone: true }">
            <nz-option nzLabel="+86" nzValue="86"></nz-option>
            <nz-option nzLabel="+87" nzValue="87"></nz-option>
          </nz-select>
          <input type="text" formControlName="name" nz-input nzSize="large" placeholder="Số điện thoại" />
        </nz-input-wrapper>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row nzJustify="space-between">
      <nz-form-control class="flex-1" nz-col nzErrorTip="Vui lòng nhập mã xác nhận!" style="max-width: 65%" [nzSm]="16" [nzXs]="15">
        <input type="password" formControlName="password" nz-input nzSize="large" placeholder="Mã xác thực" />
      </nz-form-control>
      <button class="p-0" nz-button nz-col nzSize="large" nzType="default" [nzSm]="7" [nzXs]="7">Lấy mã OTP</button>
    </nz-form-item>

    <div class="login-form-margin" nz-row nzAlign="middle" nzJustify="space-between">
      <div nz-col [nzSpan]="12">
        <button class="login-form-button login-form-margin" nz-button nzSize="large" nzType="primary">Chú thích Cuốn</button>
      </div>
      <div class="text-right" nz-col [nzSpan]="9">
        <a class="password-login" routerLink="/login/login-form">Đăng nhập bằng tài khoản đã có</a>
      </div>
    </div>
  </form>
</div>
