<div>
  <h2 class="m-b-8" [class.is-over-model]="isOverModel()">Đăng ký</h2>
  <div class="full-with">
    <form class="login-form-wrap" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Tài khoản!">
          <input type="text" formControlName="userName" nz-input nzSize="large" placeholder="Tài khoản" [placeholder]="'Tài khoản'" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Số điện thoại!">
          <input type="text" formControlName="userName" nz-input nzSize="large" placeholder="Số điện thoại" [placeholder]="'Số điện thoại'" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row nzJustify="space-between">
        <nz-form-control class="flex-1" nz-col nzErrorTip="Mã xác minh SMS!" style="max-width: 65%" [nzSm]="16" [nzXs]="15">
          <input type="text" formControlName="userName" nz-input nzSize="large" placeholder="Mã xác minh SMS" [placeholder]="'Mã xác minh SMS'" />
        </nz-form-control>
        <button class="p-0" nz-button nz-col nzType="default" nzSize="large" [nzSm]="7" [nzXs]="7">
          <span [style.font-size]="$currentEquipmentWidth() === equipmentWidthEnum.xs ? '0.8rem' : '1rem'">Lấy mã OTP</span>
        </button>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu!">
          <nz-input-wrapper>
            <input
              autocomplete="on"
              formControlName="password"
              nz-input
              nzSize="large"
              placeholder="Mật khẩu"
              [placeholder]="'Đây là ví dụ kiểm tra xác nhận mật khẩu'"
              [type]="passwordVisible ? 'text' : 'password'"
              (ngModelChange)="updateConfirmValidator()"
            />
            <i nzInputSuffix nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
          </nz-input-wrapper>
          <password-strength-meter [password]="password!.value"></password-strength-meter>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-wrapper>
            <input
              autocomplete="on"
              formControlName="checkPassword"
              nz-input
              nzSize="large"
              placeholder="Vui lòng xác nhận mật khẩu"
              [placeholder]="'Đây là ví dụ kiểm tra xác nhận mật khẩu'"
              [type]="compirePasswordVisible ? 'text' : 'password'"
            />
            <i nzInputSuffix nz-icon [nzType]="compirePasswordVisible ? 'eye-invisible' : 'eye'" (click)="compirePasswordVisible = !compirePasswordVisible"></i>
          </nz-input-wrapper>
          <ng-template #errorTpl let-control>
            @if (control.hasError('required')) {
              Please confirm your password!
            }
            @if (control.hasError('confirm')) {
              Mật khẩu nhập hai lần không khớp!
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <div nz-row>
        <div nz-col [nzSpan]="24">
          <label formControlName="remember" nz-checkbox>
            <span>Tôi đồng ýxxxChính sách bảo mật</span>
          </label>
        </div>
      </div>
      <button class="full-with m-t-15 btn" nz-button nzSize="large" nzType="primary">Chú thích Cuốn</button>
      <button class="full-with m-t-15" nz-button nzSize="large" nzType="default" (click)="goOtherWay(typeEnum.Normal)">Quay lại Trở về</button>
    </form>
  </div>
</div>
