<nz-list nzItemLayout="horizontal">
  <nz-list-item>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <nz-switch nzCheckedChildren="Mở" nzUnCheckedChildren="Đóng" [(ngModel)]="i.password"></nz-switch>
      </nz-list-item-action>
    </ul>
    <nz-list-item-meta nzDescription="Tin nhắn của người dùng khác sẽ được thông báo qua thư trong hệ thống" nzTitle="Mật khẩu tài khoản"></nz-list-item-meta>
  </nz-list-item>
  <nz-list-item>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <nz-switch nzCheckedChildren="Mở" nzUnCheckedChildren="Đóng" [(ngModel)]="i.messages"></nz-switch>
      </nz-list-item-action>
    </ul>
    <nz-list-item-meta nzDescription="Tin nhắn hệ thống sẽ được gửi trong hòm thư" nzTitle="Tin nhắn hệ thống"></nz-list-item-meta>
  </nz-list-item>
  <nz-list-item>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <nz-switch nzCheckedChildren="Mở" nzUnCheckedChildren="Đóng" [(ngModel)]="i.todo"></nz-switch>
      </nz-list-item-action>
    </ul>
    <nz-list-item-meta nzDescription="Tin nhắn việc cần làm sẽ thông báo qua hệ thống" nzTitle="Tin nhắn việc cần làm"></nz-list-item-meta>
  </nz-list-item>
</nz-list>
