<div class="p-16">
  <nz-breadcrumb class="m-l-5">
    <nz-breadcrumb-item>
      <a>
        <span class="sp-14" nz-icon nzType="home"></span>
        <span class="sp-14">Trang chủ</span>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>
        <span class="sp-14" nz-icon nzType="user"></span>
        <span class="sp-14">Quản lý hệ thống</span>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><span class="sp-14">Danh sách nhân sự</span></nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-card class="m-t-15 b-r-8" nzHoverable nzTitle="Quản lý mẫu">
    <div class="full-with flex space-between m-b-8">
      <button nz-button nzType="primary">Nhân viên mới</button>
      <nz-input-wrapper style="width: 220px">
        <input type="text" nz-input placeholder="Vui lòngTìm kiếmNhân sự" />
        <span nzInputSuffix nz-icon nzType="search"></span>
      </nz-input-wrapper>
    </div>
    <app-user-member-manage></app-user-member-manage>
  </nz-card>
</div>
