<app-page-header [pageHeaderInfo]="pageHeaderInfo" />

<div class="normal-table-wrap">
  <nz-card class="m-b-10" nzTitle="Văn bản">
    <span class="shark-txt">Hàng thật giá thật của Lão Hoa</span>
  </nz-card>

  <nz-card class="m-b-10" nzTitle="Thẻ">
    <div class="shark-wrap card">
      <img alt="" src="imgs/blingbling/bling1.png" />
    </div>
  </nz-card>

  <nz-card class="m-b-10" nzTitle="Ảnh đại diện">
    <div class="shark-wrap radius">
      <img alt="" src="imgs/blingbling/bling2.png" />
    </div>
  </nz-card>
</div>
